.body {
  margin: 0;
  padding: 0;
  background-color: #1e1e1e;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
blockquote {
  margin: 0;
  padding: 0;
}

.content-section {
  display: flex;
  width: 360px;
  margin: auto;
  box-sizing: border-box;
}

header {
  padding: 24px 20px;
  height: 132px;
  display: flex;
  justify-content: space-between;
}

.intro {
  padding: 25px 20px 37px;
  color: #ccc;
  display: flex;
  flex-wrap: wrap;
}
.reasons {
  padding: 40px 20px;
  height: 1369px;
  color: #000000;
  display: flex;
  flex-direction: column;
}

.how-to {
  padding: 40px 20px 60px;
  height: 1850px;
  color: #f5f5f5;
  font-family: EB Garamond;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 115%;
  display: flex;
  flex-direction: column;
}

.content-section_theme_dark {
  background-color: #000000;
}
.content-section_theme_bright {
  background-color: #fee42a;
}

.header__menu-list {
  color: white;
  display: flex;
  flex-direction: column;
  list-style: none;
  row-gap: 14px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 100;
  line-height: 19.2px;
}

.header__menu-link {
  color: white;
}

.header__menu-item_active {
  text-decoration: underline;
}
.cover {
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 15px;
  height: 235px;
  background-image: url(/images/cover.svg);
  background-position: right;
  background-size: 91%;
  background-repeat: no-repeat;
}
.cover__title {
  color: white;
}

.accent-span {
  display: flex;
  flex-direction: column;
  width: 320px;
  color: #fff;
  font-family: EB Garamond;
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}
.text-center {
  align-self: center;
}
.text-right {
  align-self: flex-end;
}

.intro__heading {
  font-family: Intro;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  display: flex;
  height: 38px;
}

.intro__title {
  font-family: Inter;
  font-size: 16px;
  flex-basis: 200px;
}

.intro__date {
  font-family: Inter;
  font-size: 16px;
  flex-wrap: wrap;
  padding-left: 20px;
}
.intro__main-text {
  color: #f5f5f5;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21.6px;
  padding-top: 24px;
}

.content-section__subtitle {
  width: 320px;
  color: var(--black-bg, #131313);
  font-family: EB Garamond;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 115%;
  padding-bottom: 32px;
}

.content-section__introduction {
  color: var(--black-bg, #131313);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  padding-bottom: 32px;
}
.content-section__list {
  color: var(--black-bg, #131313);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  padding-left: 19px;
  padding-bottom: 60px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  row-gap: 20px;
}
.content-section__list-accent {
  font-weight: 700;
}
.color__how-to {
  color: #f5f5f5;
}

.content-section__how-to {
  color: #f5f5f5;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  padding-bottom: 32px;
}

.card {
  border-radius: 30px;
  padding-top: 20px;
  padding-left: 20px;
}
.card-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.card-content {
  display: flex;
  width: 319px;
}

.card_theme_dark {
  height: 475px;
  background-color: #343434;
}

.card_theme_bright {
  height: 348px;
  background-color: #fee42a;
  color: #000000;
}

.card__author-name {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
}

.card__title {
  font-family: EB Garamond;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
}

.card__text {
  padding-top: 6px;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21.6px;
}

.article-third {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-right: 20px;
  gap: 8px;
  height: 538px;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21.6px;
}

footer {
  padding: 20px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #fee42a;
}

.footer__copy {
  padding-right: 150px;
  color: #f5f5f5;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;
}

.footer__links {
  text-decoration: none;
  color: #f5f5f5;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}
